@model HandballResults.Models.TeamsViewModel

@{
    ViewBag.Title = "Tabelle";
}

<div id="schedule" class="shv-container">
    <div class="content">
        <div class="loading-indicator"></div>
    </div>

    <p>
        @if (Model.IsScheduleMinimized)
        {
            @Html.ActionLink("mehr anzeigen", "Index", new {minimizedResults = Model.IsResultsMinimized, minimizedSchedule = false})
        }
        else
        {
            @Html.ActionLink("weniger anzeigen", "Index", new { minimizedResults = Model.IsResultsMinimized, minimizedSchedule = true })
        }
    </p>
</div>



<div id="standings" class="shv-container">
    <div class="loading-indicator"></div>
</div>

<div id="results" class="shv-container">
    <div class="content">
        <div class="loading-indicator"></div>
    </div>

    <p>
        @if (Model.IsResultsMinimized)
        {
            @Html.ActionLink("mehr anzeigen", "Index", "Teams", null, null, "results", new {minimizedResults = false, minimizedSchedule = Model.IsScheduleMinimized}, null)
        }
        else
        {
            @Html.ActionLink("weniger anzeigen", "Index", "Teams", null, null, "results", new { minimizedResults = true, minimizedSchedule = Model.IsScheduleMinimized }, null)
        }
    </p>
</div>




@section scripts
{
    <script type="text/javascript">
        function contentLoaded(container) {
            $(container).siblings().show();
        }

        $(document).ready(function () {
            $("#schedule .content").load('@(Url.Action("Schedule", "Games", new {minimized=Model.IsScheduleMinimized}, Request.Url.Scheme))', function (response, status, xhr) {
                if (status !== "error") {
                    contentLoaded($(this));
                }
            });
            $("#standings").load('@(Url.Action("Team", "Group", new { minimized = true }, Request.Url.Scheme))');
            $("#results .content").load('@(Url.Action("Results", "Games", new { minimized = Model.IsResultsMinimized }, Request.Url.Scheme))', function (response, status, xhr) {
                if (status !== "error") {
                    contentLoaded($(this));
                }
            });
        });
    </script>
}
