@model HandballResults.Models.GroupViewModel

@{
    ViewBag.Title = "Tabelle";
}

<h2>Tabelle</h2>
<table class="standings">
    
    <thead>
    <tr>
        <td></td>
        <td>Team</td>
        <td>Sp.</td>
        <td>PKT</td>
        <td>S</td>
        <td>U</td>
        <td>N</td>
        <td>T+</td>
        <td>T-</td>
        <td>T(+/-)</td>
    </tr>
    </thead>
    
    <tbody>
    
    @{
        var pos = 1;
        foreach ( var ranking in Model.Group.Ranking)
        {
            <tr>
                <td>@(pos++)</td>
                <td>@ranking.TeamName</td>
                <td>@ranking.TotalGames</td>
                <td>@ranking.TotalPoints</td>
                <td>@ranking.TotalWins</td>
                <td>@ranking.TotalDraws</td>
                <td>@ranking.TotalLoss</td>
                <td>@ranking.TotalScoresPlus</td>
                <td>@ranking.TotalScoresMinus</td>
                <td>@ranking.TotalScoresDiff</td>
            </tr>
        }
    }

    </tbody>
   
</table>