@model HandballResults.Models.GamesViewModel

@{
    ViewBag.Title = "Resultate";
}

<div id="results-container">
    <h2>Resultate</h2>
    
    <div class="wide">
        <table>
            <thead>
            <tr>
                <td>Datum</td>
                <td>Heim</td>
                <td>Gast</td>
                <td>Resultat</td>
                <td>Halle</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var game in Model.Games)
                {
                    <tr class="link"
                        onclick="openInNewWindow('https://www.handball.ch/de/matchcenter/spiele/@game.GameId')">
                        <td>@game.GameDateTime.ToString("ddd dd.MMM HH:mm")</td>
                        <td>@game.TeamAName</td>
                        <td><b>@game.TeamAScoreFt:@game.TeamBScoreFt</b> (@game.TeamAScoreHt:@game.TeamBScoreHt)</td>
                        <td>@game.TeamBName</td>
                        <td>@game.Venue</td>
                        <td>&gt;</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <ul class="narrow games">
        @{
            foreach (var game in Model.Games)
            {
                <li onclick="openInNewWindow('https://www.handball.ch/de/matchcenter/spiele/@game.GameId')">
                    <a href="">
                        <div class="col">
                            <div class="info">@game.GameDateTime.ToString("ddd dd.MMM HH:mm") | @game.Venue</div>
                            <div>@game.TeamAName : @game.TeamBName</div>
                            <div class="score">
                                <span class="ft">@game.TeamAScoreFt:@game.TeamBScoreFt</span><span class="ht">(@game.TeamAScoreFt:@game.TeamBScoreFt)</span>
                            </div>
                            <div>@game.LeagueLong</div>
                        </div>
                        <div class="col">
                            >
                        </div>
                    </a>
                </li>
            }
        }
    </ul>

    <p><a id="results-visibility-switch" href="#results" data-alternative-text="weniger anzeigen">alle anzeigen</a></p>
</div>

<script type="text/javascript">
    var results;

    function initResults() {
        var switchSelector = "#results-visibility-switch";
        $(switchSelector).click(function () {
            results.toggle();
        });

        results = gamesModule.games(["#results-container table tbody tr", "#results-container ul li"], switchSelector);
        results.hideMost();
    }
</script>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            initResults();
        });
    </script>
}